
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
    --black: #252525;
    --yellow: #FFA400;
    --coral: #FC2933;
    --white: #FFFFFF;
    --combination: #FFA100#FB103D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #131415;
}

.hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: #131415;
}

.nav_hero {
    color: #131415;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #131415;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 2em;
}

.logo_name {
    font-size: 24px;
}
.links {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    font-weight: 400;
}

.link-active {
    color: var(--white);
    font-weight: 700%;
}

.point {
    color: var(--gold1);
}

.hero_main {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero_textos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 2em;
}


.mockup {
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}


.title {
    font-size: 66px;
    font-weight: 700;
    color: #FFFFFF;
    max-width: 600px;
}

.title_active {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 131.02%;
    color: #FFFFFF;
}

.copy {
    font-size: 21px;
    color: #FFFFFF;
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;
    font-weight: 300;
}

.pizza_1 {
    width: 265px;
    height: 265px;
    transform: scale(1.5);
}

.cta {
    height: 50px;
    width: 166px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #FFA100, #FB103D);
    color: white;
    font-weight: bold;
}

/* FILTROS */
.hidden {
    display: none;
}

.active {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right,#FFA100, #FB103D);
}

.productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2em;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.filter-type {
    width: 147px;
    height: 171px;
    background-color: #252525;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.filter-type:nth-child(1) {
    background-image: url("./img/Filters/All.png");
}
.filter-type:nth-child(2) {
    background-image: url("./img/Filters/Pizza.png");
}
.filter-type:nth-child(3) {
    background-image: url("./img/Filters/Burger.png");
}
.filter-type:nth-child(4) {
    background-image: url("./img/Filters/Fries.png");
}
.filter-type:nth-child(5) {
    background-image: url("./img/Filters/Individual.png");
}
.filter-type:nth-child(6) {
    background-image: url("./img/Filters/Wraps.png");
}
.filter-type:nth-child(7) {
    background-image: url("./img/Filters/Taco.png");
}
.filter-type:nth-child(8) {
    background-image: url("./img/Filters/Shakes.png");
}

/* PRODUCTOS */
.lista-productos {
    height: 100%;
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.producto {
    width: 282px;
    height: 213px;
    border-radius: 15px;
    background-color: #252525;
    display: grid;
    place-content: center;
}

.producto img{
    height: 97px;
    width: 237px;
    border-radius: 15px;
    object-fit: cover;
}

.producto-title {
    margin-top: 10px;
    color: white;
}

.producto-desc {
    margin-top: 10px;
    font-size: .9em;
    color: #9b9797;
}

.buy-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 237px;
}

.price {
    font-weight: bold;
    background: linear-gradient(to right,#FFA100, #FB103D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buy-group button, #see-more{
    width: 85px;
    height: 29px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #FFA100, #FB103D);
    color: white;
    transition: .4s ease;
}

.buy-group button:hover {
    transform: scale(1.1);
}

button {
    cursor: pointer;
}
.daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    gap:25px;
}
.daily-title {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}
.daily-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.cartBtnContainer {
    width: 50px;
    position: relative;
}
.cartButton {
    padding: 15px;
}
.cartBtnContainer p{
    color: white;
    width: auto;
    height: 15px;
    line-height: 50%;
    font-size: 6px;
    position: absolute;
    top: 15px;
    right: 5px;
    background-color:#FC2933;
    padding: 5px;
    border-radius: 50px;
    border: white 1px solid;
    text-align: center;
    cursor: pointer;
}
.cart {
position: fixed;
top: 0;
right: 0;
width: 500px;
height: 500px;
background-color: #202020;
z-index: 5;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr auto;
animation-name: slide-right-in-cart;
animation-duration: 0.5s;
animation-fill-mode: forwards;
transition-timing-function: cubic-bezier(0.000, 0.975, 0.370, 1.005);
}
@keyframes slide-right-in-cart {
    0% {
        right: -50%;
    }
    100% {
        right: 0;
    }
}
@keyframes slide-right-out-cart {
    0% {
        right: 0;
    }
    100% {
        right: -50%;
    }
}
.product-cart-list {
    width: 100%;
    overflow-y: scroll;
}
.cartProduct {
    width: 100%;
    height: 100px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cartProdInfo {
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 15px;
}
.cartProdImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.cartProdText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    overflow: hidden;
}
.cartProdText h3 {
    height: 25px;
    overflow: hidden;
    width: 100px
}
.cartProductQty {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.qtyButtons {
    display: flex;
    gap: 5px;
    align-items: center;
}
.qtyButtons button{
    width: 25px;
padding: 5px;
color: green;
font-weight: bold;
border: 0;
background-color: #303030;
}
.qtyButtons button:first-child {
    color: red;
}
.qtyButtons p {
    width: 25px;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.qtyTotal {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.hidden {
    display: none;
}
.bottomCart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cleanCartBtn {
    background-color: rgb(255, 37, 37);
    padding: 15px;
    height: 100%;
    font-size: 12px;
    border: none;
    font-weight: bold;
    color: white;
}
.buyCartBtn {
    padding: 15px;
    background-color: rgb(0, 123, 255);
    font-weight: bold;
    color: white;
    border: 0;
    font-size: 25px;
}
.bottomCart p{
margin-right: 15px;
font-weight: bold;
color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topCart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.topCart p:first-child {
    font-size: 25px;
    padding: 5px;
    color: gray;
}
.topCart button {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #494949;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}